{
  "url": "https://be.wizzair.com/24.9.0/Api/search/search",
  "method": "POST",
  "headers": {
    "User-Agent": "Mozilla/5.0 (Windows NT 10.0; Win64; x64; rv:109.0) Gecko/20100101 Firefox/115.0",
    "Accept": "application/json, text/plain, */*",
    "Accept-Language": "en-US,en;q=0.5",
    "Content-Type": "application/json;charset=utf-8",
    "Origin": "https://wizzair.com",
    "Connection": "keep-alive",
    "Referer": "https://wizzair.com/",
    "Sec-Fetch-Dest": "empty",
    "Sec-Fetch-Mode": "cors",
    "Sec-Fetch-Site": "same-site",
    "TE": "trailers"
  },
  "data": "{\"flightList\":[{\"departureStation\":\"VIE\",\"arrivalStation\":\"LCA\",\"departureDate\":\"2025-01-15\"},{\"departureStation\":\"LCA\",\"arrivalStation\":\"VIE\",\"departureDate\":\"2025-01-22\"}],\"priceType\":\"regular\",\"adultCount\":1,\"childCount\":0,\"infantCount\":0}",
  "cookies": "YOUR_COOKIES_HERE"
}
